// Place all the styles related to the First controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}

.axis path,
.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
}
		
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

